---
import Layout from "@layouts/Layout.astro";
import SlideButtons from "@components/SlideButtons.astro";
---
<Layout>

    <div>
            <div>
                <div>Pasos Inmediatos</div>
                <div>Acciones del Afectado (Cecilio)</div>
            </div>
            <div>
                <div>
                    ⚠️ ACCIONES INMEDIATAS DEL AFECTADO
                </div>

                <div>
                    <strong>1. Alejarse del Peligro</strong>
                    <p>Retirarse inmediatamente de la fuente de peligro (mesa de trabajo/protoboard)</p>
                </div>

                <div>
                    <strong>2. No Tocarse la Cara</strong>
                    <p>Evitar tocarse la cara o los ojos si hay sospecha de fragmentos</p>
                </div>

                <div>
                    <strong>3. Comunicar el Incidente</strong>
                    <p>Informar verbalmente y de inmediato al docente o compañero más cercano sobre:</p>
                    <ul>
                        <li>Lo ocurrido</li>
                        <li>Si siente dolor</li>
                        <li>Si tiene alguna partícula en rostro/ojos</li>
                    </ul>
                </div>
            </div>
        </div>
        <SlideButtons urlNext="/5" urlBack="/3" />
</Layout>