---
import Layout from '../layouts/Layout.astro';
import SlideButtons from '../components/SlideButtons.astro';
---
<Layout>

    <div>
            <div>
                <div>Pasos Inmediatos</div>
                <div>Acciones de Testigos</div>
            </div>
            <div>
                <div>👨‍🏫 Docente</div>
                <div>
                    <strong>1.</strong> Cortar inmediatamente la alimentación eléctrica del puesto afectado
                </div>
                <div>
                    <strong>2.</strong> Evaluar rápidamente la condición de Cecilio (heridas visibles, especialmente ojos)
                </div>
                <div>
                    <strong>3.</strong> Alejar a otros estudiantes del área de riesgo
                </div>
                <div>
                    <strong>4.</strong> Solicitar botiquín de primeros auxilios y avisar a personal de enfermería
                </div>

                <div>👥 Compañeros</div>
                <div>
                    <strong>•</strong> Mantener la calma y no aglomerarse
                </div>
                <div>
                    <strong>•</strong> Seguir instrucciones del docente
                </div>
                <div>
                    <strong>•</strong> Asistir si se requiere (buscar material de primeros auxilios, acompañar al afectado)
                </div>
            </div>
        </div>
        <SlideButtons urlNext="/6" urlBack="/4" />
</Layout>