---
interface Props {
    url:string
}
const { url } = Astro.props;
---
<a class="
w-30 h-11 text-white font-semibold flex items-center justify-center  
rounded-lg shadow-md transition-colors duration-200 ease-in-out" 
style="background-color: #e9492f;"
onmouseover="this.style.backgroundColor='#d04028'"
onmouseout="this.style.backgroundColor='#e9492f'"
href={url}>
    Siguiente
</a>